body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

textarea {
  resize: none;
  background: #f3f7fb;
  border: none;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px;
  outline: 0;
  width: 100%;
  color: #828588;
  &::placeholder {
    color: #c5c7d9;
  }
}

input::placeholder {
  color: #c5c7d9;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  color: #333;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// element reset 开始
//解决element 表格出现滚动条后表格和表头对不齐的问题
.el-table th.gutter {
  display: table-cell !important;
  width: 17px !important;
}
.el-pagination {
  text-align: right;
  margin-top: 10px;
}

.el-table--scrollable-x .el-table__body-wrapper {
  height: calc(100% - 48px);
}

.el-input {
  outline: none;
}

.el-slider__button {
  box-sizing: border-box;
}

.el-table__empty-text {
  line-height: 50;
}

// element reset 结束
// 高德地图开始
@keyframes pulse {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0;
  }

  25% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.1;
  }

  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.3;
  }

  75% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

.dotPulse {
  position: relative;
  width: 88px;
  height: 88px;

  &__dot {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(24, 98, 220, 1);
    z-index: 2;
  }

  &__pulse {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(24, 98, 220, 1);
    border-radius: 50%;
    z-index: 1;
    opacity: 1;
    animation: pulse 2s ease-out;
    animation-iteration-count: infinite;
  }
}

//高德地图结束